*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #bbcbeb;
    color:#141111
}
.app-container{
    max-width: 1100px;
    margin: 40px auto;
    padding:20px;
}
h1{
    margin-bottom: 8px;
}
p{
    color:#666
}
ul{
    list-style: none;
    margin-top: 20px;
}
li{
    background: white;
    padding: 12px 16px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}
.task-list{
    margin-top:20px;
}
.task-card{
    background: white;
    padding: 14px 18px ;
    margin-bottom: 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    display: flex;
}
.task-card span.done{
    text-decoration: line-through;
    color: #999;
}
.actions button{
    padding: 6px 10px;
    margin-left: 8px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.actions button.delete{
    background-color: #ff4d4f;
    color: white;
}
.actions button:not(.delete){
    background-color: #4caf50;
    color: white;
}

.task-form{
    display: flex;
    margin: 20px 0px;
}
.task-form input{
    padding:10px;
    border-radius: 4px;
    border:solid black 1px;
    flex:1;
}
.task-form button{
    margin-left: 10px;
    padding:10px 16px;
    border:none;
    background-color: #1976d2;
    color:white;
    border-radius: 4px;
    cursor:pointer;
}

.stats{
    display: flex;
    gap:16px;
    margin:20px 0px;

}

.stat-card{
    flex:1;
    text-align: center;
    border-radius: 8px;
    background: white;
    padding: 16px;
}
.filter-bar {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.filter-bar select,
.filter-bar input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}


